// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

header {
    margin-bottom: 100px;
    @include breakpoint(tablet){
            margin-bottom: 120px;
            height: 700px;
            
        }

     @include breakpoint(desktop){
            margin-bottom: 320px;
            
            
        }    

    .header-principal{

        @include breakpoint(tablet){
        height: 700px;    
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        position: absolute;
        right: 0;

        }

        @include breakpoint(desktop) {
            display: grid;
            grid-template-columns: 800px 550px;
            grid-template-rows: 1fr 1fr;
            width: 89%;
            align-items: flex-end;
            justify-content: center;
        }
    }    

    .h1-blanco{
        font-family: $primary-font;
        font-weight: 900;
        font-size: 60px;
        margin: 0;
        margin-bottom: 30px;
        
        @include breakpoint(tablet){
            margin-bottom: 40px;
        }

        @include breakpoint(desktop) {
            display: none;
        }
        
       
    }

    .h1-negro {

        display: none;

        @include breakpoint(desktop) {
            display: block;
            font-weight: 900;
            font-size: 96px;
            margin: 0;
            margin-bottom: 30px;
            font-family: $primary-font;
            color: $blanco;
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }
    }

    p{
        font-family: $secondary-font;
        font-weight: 200;
        font-size: 18px;
        margin: 0;
        line-height: 28px;
        margin-bottom: 30px;

        @include breakpoint(tablet){
            margin-bottom: 50px;
        }

        @include breakpoint(desktop){
            font-size: 22px;
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            width: 350px;
        }
    }

    .button-1 {
        @include breakpoint(desktop) {
            grid-column: 2/ 3;
            grid-row: 2 / 3;
            align-self: flex-start;
        }
    }
}